body {
    font-family: Arial, sans-serif;
    background-color: rgb(232, 232, 232);
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

#job-listings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.job-listing {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    transition: transform 0.2s;
    width: 50%;
}

.job-listing:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin: 0;
}

.company, .location {
    margin: 5px 0;
    font-size: 14px;
    color: #777;
}

.apply-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.apply-button:hover {
    background-color: #0056b3;
}





